.tile {
  display: flex;
  width: 62px;
  height: 62px;
  border: 2px groove lightgray;
  margin: 3px;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.line {
  display: flex;
  flex-direction: row;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyButton {
  cursor: pointer;
  width: 43px;
  height: 58px;
  border-radius: 5px;
  border: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 16pt;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wideKeyButton {
  width: 70px;
  font-size: 12pt;
}

.keyboardRow {
  display: flex;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guessed {
  border: none;
  color: white;
  padding: 2px;
}
